html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #185357;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #4CA35E;
    box-shadow: 1px 1px 5px rgba(255, 217, 0, 0.523);
}

.nav-item {
    font-size: 1.5em;
    padding-left: 15px;
    margin: 0;
}

.nav-item .nav-link {
    color: rgb(235, 235, 235);
}

.nav-item .nav-link:hover {
    text-shadow: 1px 1px 3px #e3867d7d;
    font-weight: bold;
}

.navbar-brand {
    color: rgb(210, 210, 210);
}

main {
    flex: 1;
    padding: 20px;
}

.footer-container {
    color: #303030;
    padding: 20px 0;
    background-color: #adeeca;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-icons a {
    font-size: 1.5em;
    color: #303030;
    transition: color 0.3s;
}

