h2 {
    margin: 30px;
    text-align: center;
    color: white;
}

.outer-container {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    color: white;
    background-color: #962E2A;
    border-radius: 20px;
    width: 75%;
    margin-top: 10px;
}

.card:hover {
    box-shadow: 3px 3px 12px rgba(21, 248, 195, 0.685);
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

#chat-name {
    text-align: center;
}