.container {
    margin-bottom: 50px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
    background-color: #A64C48;
}

.card-header {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(88, 222, 234, 0.56);
    color: white;
    background-color: #962E2A;
}

.message-card {
    width: fit-content;
    text-wrap: wrap;
    color: white;
    background-color: #E3867D;
    border-radius: 10px;
    margin: 12px;
}

.my-message {
    background-color: #1FB6A5;
}

#message-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #A64C48;
}

.form-container form textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: horizontal;
}

.participants-container .card-body {
    background-color: #A64C48;
    color: white;
    text-align: center;
    padding: 10px;
}

.participants-container .card-body .participants-links a {
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    color: gold;
}

.add-participant {
    padding: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container button {
    width: 60%;
    align-self: center;
}