h2 {
    padding: 50px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 255, 179, 0.697);
}

.outer-container {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

h4 {
    color: #72dfa3;
    text-shadow: 1px 1px 5px rgba(0, 255, 179, 0.697);
}

.card {
    color: #D9D7D2;
    background-image: linear-gradient(180deg, #BD6935, #d3b443);
    border-radius: 20px;
    width: 75%;
}

.card:hover {
    box-shadow: 3px 3px 12px rgba(21, 248, 195, 0.685);
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

#chat-name {
    text-align: center;
}

.create-chat-btn {
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}