.form-container {
    display: block;
    background-color: #962E2A;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: auto;
}

h2 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 255, 179, 0.697);
    padding: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form .form-control {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container form .btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container form .btn:hover {
    background-color: #218838;
}
