{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/change_password.css' %}">
{% endblock extra_css %}


{% block page_title %}
    <h2>Change password</h2>
{% endblock page_title %}


{% block page_content %}
    <div class="card card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Change password</button>
        </form>
    </div>
{% endblock page_content %}