{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/chat_details.css' %}">
{% endblock extra_css %}

{% block page_title %}
{% endblock page_title %}

{% block page_content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-header">{{ chat.name }}</div>
                    <div class="card-body chat-container">
                        {% for chat_message in chat_messages %}
                            <div class="message-container" id="message-{{ chat_message.id }}" data-message-id="{{ chat_message.id }}">
                                <div class="message-content">
                                    <div class="card message-card {% if chat_message.author == user %}my-message{% else %}other-message{% endif %}">
                                        {{ chat_message.author }}: {{ chat_message.body }}
                                        <br>
                                        <small>{{ chat_message.created|timesince }} ago</small>
                                        <div class="message-buttons">
                                            <button type="button" class="btn btn-primary edit-button" data-message-id="{{ chat_message.id }}">
                                                Edit
                                            </button>
                                            <button type="button" class="btn btn-warning delete-button" data-message-id="{{ chat_message.id }}">
                                                Delete
                                            </button>
                                            <textarea class="form-control edit-textarea" data-message-id="{{ chat_message.id }}">{{ chat_message.body }}</textarea>
                                            <button type="button" class="btn btn-success save-button" data-message-id="{{ chat_message.id }}">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                    <!-- {% if chat_message.author == request.user %}
                                        <div class="message-buttons">
                                            <button type="button" class="btn btn-secondary edit-button" data-message-id="{{ chat_message.id }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path>
                                                </svg>
                                            </button>
                                            <button type="button" class="btn btn-secondary delete-button" data-message-id="{{ chat_message.id }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    {% endif %} -->
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-container">
                        <form id="message-form" method="post" action="{% url 'success_send' chat.id %}">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field }}
                            {% endfor %}
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
                {% if request.user == chat.host %}
                    <div class="delete-chat-container">
                        <button class="btn btn-danger delete-chat" data-chat-id="{{ chat.id }}">Delete</button>
                        <div class="confirm-delete" id="confirm-{{ chat.id }}" style="display: none;">
                            <button class="btn btn-success confirm-ok" data-chat-id="{{ chat.id }}">OK</button>
                            <button class="btn btn-secondary confirm-cancel" data-chat-id="{{ chat.id }}">Cancel</button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-3">
                <div class="participants-container">
                    <div class="card">
                        <div class="card-header">Participants</div>
                        <div class="card-body">
                            <div class="participants-links">
                                <a href="{% url 'showing_profile' chat.host.username chat.host.id %}" target="_blank">Host: {{ chat.host }}</a>
                            </div>
                            {% for participant in participants %}
                                {% if participant != chat.host %}
                                    <div class="participants-links">
                                        <a href="{% url 'showing_profile' participant.username participant.id %}" target="_blank">{{ participant }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if request.user == chat.host %}
                        <div class="add-participant">
                            <form action="{% url 'add_participant' chat.name chat.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-container">
                                    <input class="form-control" type="text" name="username" placeholder="username">
                                    <button class="btn btn-success" type="submit">Add participant</button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/chat_details.js' %}"></script>

{% endblock page_content %}