{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'style/profile.css' %}">
{% endblock extra_css %}

{% block page_title %}
    <div class="title-container">
        <h2>{{ user.username }} is here!</h2>
        <button class="btn btn-success add-friend" type="submit" data-add-friend-url="{% url 'add_friend' user.id %}" {% if user in request.user.friends.all %}disabled{% endif %}>
            Add-Friend
        </button>
    </div>
{% endblock page_title %}

{% block page_content %}

    <div class="profile-container card">
        <div class="row">
            <div class="col">
                <h3>Information</h3>
                <div class="card">
                    <div class="info-container">
                        <p><strong>Username: </strong>{{user.username}}</p>
                        <p><strong>Email: </strong>{{user.email}}</p>
                        <a id="change-password" href="{% url 'change_password' %}">Change password</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Activity</h3>
                <div class="card">
                    <div class="activity-container">
                        {% for chat_message in chat_messages %}
                            {% if chat_message.chat.status == "open" %}
                                <div class="message-info">
                                    In "{{chat_message.chat.name}}":
                                    <br>
                                    Message: "{{chat_message.body|slice:50}}
                                    {% if chat_message.body|length|get_digit:"-1" > 50 %}
                                        ...
                                    {% endif %}"
                                    <br>
                                    At: {{chat_message.created}}
                                    <br>
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Chats</h3>
                <div class="card">
                    <div class="chat-container">
                        {% for chat in chats %}
                            <div class="chat-name">
                                {% if chat.status == "open" %}
                                    {% if not chat.isDirect %}
                                        <h4><a href="{% url 'chat_details' chat.name chat.id %}">{{chat.name}}</a></h4>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/showing_profile_other.js' %}"></script>

{% endblock page_content %}